html {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    text-transform: uppercase;
}

/***** SECTIONS *****/

.title-section {
    color: #fff;
    background-image: url(images/Mountains.jpg);
    background-position: center bottom;
    background-attachment: fixed;
    background-size: cover;
    padding: 5% 15%;
}

.navbar-section {}

.services-section {}

.portfolio-section {
    text-align: left;
    background-color: #000;
    color: #fff;
}

.about-section {}

.journal-section {}

.contact-section {}

footer {
    background-color: #000;
    color: rgb(100, 100, 100);
}